In [1]:
# The purpose of this file is to look at the csv,
# see if there are null values, empty values,
# and throw all the data into a data base

import sqlite3
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
csv_file_path = '../data/raw_spotify_charts_data.csv'

df = pd.read_csv(csv_file_path)
print(df.dtypes)
df.head()

,title,rank,date,artist,url,region,chart,trend,streams
0,Chantaje (feat. Maluma),1,2017-01-01,Shakira,https://open.spotify.com/track/6mICuAdrwEjh6Y6...,Argentina,top200,SAME_POSITION,253019.0
1,Vente Pa' Ca (feat. Maluma),2,2017-01-01,Ricky Martin,https://open.spotify.com/track/7DM4BPaS7uofFul...,Argentina,top200,MOVE_UP,223988.0
2,Reggaet贸n Lento (Bailemos),3,2017-01-01,CNCO,https://open.spotify.com/track/3AEZUABDXNtecAO...,Argentina,top200,MOVE_DOWN,210943.0
3,Safari,4,2017-01-01,"J Balvin, Pharrell Williams, BIA, Sky",https://open.spotify.com/track/6rQSrBHf7HlZjtc...,Argentina,top200,SAME_POSITION,173865.0
4,Shaky Shaky,5,2017-01-01,Daddy Yankee,https://open.spotify.com/track/58IL315gMSTD37D...,Argentina,top200,MOVE_UP,153956.0

In [ ]:
# Creating a heatmap to see how many null values are in the entire dataset.
# This takes several minutes to load, which is why it is commented out.
# There only appears to be null values in the streams column.

#plt.figure(figsize=(10,6))
#sns.heatmap(df.isnull(), cbar=False, cmap='viridis')
#plt.show()

In [15]:
# Checking to see how many null values are in the streams column of the dataset.

null_vals = df['streams'].isnull().sum()
total_vals = df['streams'].shape[0]

print("# of null values: ", null_vals)
print("Total number of values: ", total_vals)
print("% of null values: ", f"{((null_vals / total_vals) * 100):.0f}%")

# of null values:  5851610
Total number of values:  26173514
% of null values:  22%

In [18]:
# Looking to see if there are any empty strings in the data set.

empty_strings = df[['title', 'rank', 'date', 'artist', 'url', 'region', 'chart', 'trend']].map(lambda x: x == '').sum()
empty_strings

title     0
rank      0
date      0
artist    0
url       0
region    0
chart     0
trend     0
dtype: int64

In [19]:
# Converting the date column to a date time object, filling in the null
# values in the streams column with 0 and converting it all values to integers

df['date'] = pd.to_datetime(df['date'])
df['streams'] = df['streams'].fillna(0).astype(int)
df.dtypes

title              object
rank                int64
date       datetime64[ns]
artist             object
url                object
region             object
chart              object
trend              object
streams             int32
dtype: object

In [20]:
# Creating a database file. The whole purpose of doing so is just to use 
# SQL as an exercise, otherwise I would just use the csv file.
# Afterwards, doing some basic checks to ensure that everything is in order

table_name = 'spotify_hits_2017_to_2021'

conn = sqlite3.connect('../data/raw_spotify_charts_data.db')
df.to_sql(table_name, conn, index = False)

26173514

In [22]:
table_name = 'spotify_hits_2017_to_2021'

query = f'SELECT * FROM {table_name} LIMIT 10;'
sample = pd.read_sql_query(query, conn)

sample

,title,rank,date,artist,url,region,chart,trend,streams
0,Chantaje (feat. Maluma),1,2017-01-01T00:00:00,Shakira,https://open.spotify.com/track/6mICuAdrwEjh6Y6...,Argentina,top200,SAME_POSITION,253019
1,Vente Pa' Ca (feat. Maluma),2,2017-01-01T00:00:00,Ricky Martin,https://open.spotify.com/track/7DM4BPaS7uofFul...,Argentina,top200,MOVE_UP,223988
2,Reggaet贸n Lento (Bailemos),3,2017-01-01T00:00:00,CNCO,https://open.spotify.com/track/3AEZUABDXNtecAO...,Argentina,top200,MOVE_DOWN,210943
3,Safari,4,2017-01-01T00:00:00,"J Balvin, Pharrell Williams, BIA, Sky",https://open.spotify.com/track/6rQSrBHf7HlZjtc...,Argentina,top200,SAME_POSITION,173865
4,Shaky Shaky,5,2017-01-01T00:00:00,Daddy Yankee,https://open.spotify.com/track/58IL315gMSTD37D...,Argentina,top200,MOVE_UP,153956
5,Traicionera,6,2017-01-01T00:00:00,Sebastian Yatra,https://open.spotify.com/track/5J1c3M4EldCfNxX...,Argentina,top200,MOVE_DOWN,151140
6,Cuando Se Pone a Bailar,7,2017-01-01T00:00:00,Rombai,https://open.spotify.com/track/1MpKZi1zTXpERKw...,Argentina,top200,MOVE_DOWN,148369
7,Otra vez (feat. J Balvin),8,2017-01-01T00:00:00,Zion & Lennox,https://open.spotify.com/track/3QwBODjSEzelZyV...,Argentina,top200,MOVE_DOWN,143004
8,La Bicicleta,9,2017-01-01T00:00:00,"Carlos Vives, Shakira",https://open.spotify.com/track/0sXvAOmXgjR2QUq...,Argentina,top200,MOVE_UP,126389
9,Dile Que Tu Me Quieres,10,2017-01-01T00:00:00,Ozuna,https://open.spotify.com/track/20ZAJdsKB5IGbGj...,Argentina,top200,MOVE_DOWN,112012

In [27]:
print(f'Dataframe columns: {sample.shape[1]}, Database columns: {df.shape[1]}')
sample.dtypes

Dataframe columns: 9, Database columns: 9

title      object
rank        int64
date       object
artist     object
url        object
region     object
chart      object
trend      object
streams     int64
dtype: object

In [31]:
df_rows = len(df)
db_rows = pd.read_sql_query(f'SELECT COUNT(*) FROM {table_name}', conn).iloc[0, 0]
print(f'Dataframe rows: {df_rows}, Database rows: {db_rows}, DB == DF: {df_rows == db_rows}')

Dataframe rows: 26173514, Database rows: 26173514, DB == DF: True

In [32]:
conn.close()